################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/pruebaSemillero/FileContentIndex/0af04b27-4003-4faf-9ef8-b5a11311b859.vsidx
/.vs
